---
layout: default
title: Archive
---

<!-- Begin List Posts
  ================================================== -->

<!-- Content -->
{% include article.html %}

<h1>Archive of posts</h1>

{% assign postsByMonth = site.posts | group_by_exp:"post", "post.date | date: '%B %Y'" %}
{% for month in postsByMonth %}
<h2>{{ month.name }}</h2>
<ul>
{% for post in month.items %}
<li><a href="{{ post.url }}">{{ post.title }}</a></li>
<!-- including the postbox.html is too heavy in the web page. -->
{% endfor %}
</ul>
{% endfor %}
